
main > #mainInfo{
    width: 100%;
    display: block;
    
}
main>#mainInfo>h1{
    width:100%;
    text-align: center;
}
main h1{
    color:rgb(255, 87, 57);
}
main h2,h4{
    color:rgb(255, 87, 57,0.8);
}
#intro , li{
  color:rgb(76, 91, 86);  
}

main>#mainInfo>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div{
    overflow: auto;
}
main  ul{
    list-style-type: square;
}
main  ul  li  ul{
    list-style-type: circle;
}
li{
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1.8;
    word-spacing: 10px;
    text-shadow: 0 px black;
    font-size: 18px;
    padding:2px;
    margin: 2px;
}